.main-contact {
  display: flex;
  padding-left: 300px;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-item {
  flex: 1;
  margin-right: 10px; 
}

form {
  flex: 1; 
  max-width: 900px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #43332B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; 
}

.ftr {
  padding-top: 100px;
}
