.mainpart{
    height: 453px;
    background: #43332B;
background: color(display-p3 0.2542 0.2021 0.1747);
}

.header{
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
}
.ford{
    width: auto;
    height: fit-content;
    padding-left: 140px;
}

.tag {
    position: absolute;
    top: 500px; 
    left: 30px; 
    width: 209px;
    height: 136px;
    flex-shrink: 0;
    align-items: flex-start;
    size: 70%;
}

.details-info {
    flex: 1;
    padding: 0 10px; 
    margin: 0;
}

.car-details{
        list-style-type: disc;
        padding: 0;
        margin: 0;
        padding-left: 300px;
}
.car-details li {
    margin-bottom: 10px;
  }  
  
  .car-container {
    display: flex;
    align-items: center;
  }

.more-cars{
    height: 252px;
    
}
.img-more {
    width: 100%;
    height: 252px;
    flex-shrink: 0;

    }
.btn-book{
   align-content: center;
   padding-left: 200px;
   padding-bottom: 140px;
}

.btn{
    background-color: #43332B;
    color: #ffffff;
}