.mainpart{
    height: 453px;
    background: #43332B;
background: color(display-p3 0.2542 0.2021 0.1747);
}

.header{
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
}
.ford{
    width: auto;
    height: fit-content;
}
.car-details{
    text-align: end;
}
.more-cars{
    height: 252px;
    
}
.img-more {
    width: 100%;

    }
